body {
    margin: 0;
    background-color: #f7eefe;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    color: #301534;
}

.accordion-button {
    color: #301534;
    font-weight: 40px;
    font-family: 'Work Sans', sans-serif;
}


.background {
    position: absolute;
    background-image: url("assets/images/background-pattern-desktop.svg");
    width: 100%;
    height: 36vh;
}


.accordion-button {
    padding: 25px 0px;
}

.accordion-button:not(.collapsed) {
    color: #301534;
    background-color: white;
    box-shadow: none;
}

.accordion-body {
    padding: 0px 0px 25px 0px;
    font-size: 16px;
    font-family: 'Work Sans' sans-serif;
    color: #9a939b;
}

.accordion-button:not(.collapsed)::after {
    padding: 0px 0px;
    background-image: url("assets/images/icon-minus.svg");
    --bs-accordion-btn-icon-width: 1.75rem;
    
}

.accordion-button::after {
    background-image: url("assets/images/icon-plus.svg");
    --bs-accordion-btn-icon-width: 1.75rem;
}

.accordion-button:focus {
    box-shadow: none;
}


.outbox {
    position: relative;
    z-index: 10;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(177, 171, 176);
}


.accordion-button-icon {
    background-image: url("assets/images/icon-minus.svg");
}