@font-face {
    font-family: 'Work Sans' sans-serif;
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    /* Range from Thin (100) to Black (900) */
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans Bold' sans-serif;
    src: url('../assets/fonts/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

body {
    margin: 0;
    background-color: #f7eefe;
}

h1 {
    font-family: 'Work Sans Bold', sans-serif;
    font-size: 50px;
    color: #301534;
}

.accordion-button {
    color: #301534;
    font-weight: 40px;
    font-family: 'Work Sans', sans-serif;
}


.background {
    background-image: url("../assets/images/background-pattern-desktop.svg");
    width: 100%;
    height: 33vh;
}


.accordion-button {
    padding: 25px 0px;
}

.accordion-button:not(.collapsed) {
    color: #301534;
    background-color: white;
    box-shadow: none;
}

.accordion-body {
    padding: 10px 0px;
    font-size: 16px;
    font-family: 'Work Sans' sans-serif;
    color: #9a939b;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../assets/images/icon-minus.svg");
    --bs-accordion-btn-icon-width: 1.75rem;
    
}

.accordion-button::after {
    background-image: url("../assets/images/icon-plus.svg");
    --bs-accordion-btn-icon-width: 1.75rem;
}

.accordion-button:focus {
    box-shadow: none;
}


.outbox {
    /* width: 36%; */
    /* position: absolute; */
    /* top: 20%;
    left: 32%; */
    position: relative;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 20px rgb(131, 120, 129);
 
}


.accordion-button-icon {
    background-image: url("../assets/images/icon-minus.svg");
}